{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование виджета{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование виджета</h1>

    {% include 'BWModuleBundle:Widget:form.html.twig' %}
{% endblock %}
