{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Создание виджета{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-plus-square-o"></i> Создание виджета</h1>

    {% include 'BWModuleBundle:Widget:form.html.twig' %}
{% endblock %}
