{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование позиции{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование позиции</h1>

    {% include 'BWModuleBundle:Position:form.html.twig' %}
{% endblock %}
