{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование меню{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование меню</h1>

    {% include 'BWMenuBundle:Menu:form.html.twig' %}

    {% include 'BWMenuBundle:Item:index.html.twig' %}
{% endblock %}