{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content_wrap -%}
    <h1 align="center"><i class="fa fa-apple"></i> Панель управления</h1>
{% endblock %}