{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование категории</h1>

    {% include 'BWBlogBundle:Category:form.html.twig' %}
{% endblock %}