{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование пункта меню{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование пункта меню</h1>

    {% include 'BWMenuBundle:Item:form.html.twig' %}

{% endblock %}