{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование статьи{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование статьи</h1>

    {% include 'BWBlogBundle:Post:form.html.twig' %}
{% endblock %}
