{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование статьи{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var ckeditor = $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}

{% block content_wrap -%}
    <h1><i class="fa fa-edit"></i> Редактирование статьи</h1>

    {% include 'BWBlogBundle:Post:form.html.twig' %}
{% endblock %}
