{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block content_wrap -%}
    <h1><i class="fa fa-plus-square-o"></i> Создание статьи</h1>

    {% include 'BWBlogBundle:Post:form.html.twig' %}
{% endblock %}
