{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block description %}{{ entity.metaDescription ? entity.metaDescription }}{% endblock %}

{% block content_wrap -%}
    <div class="post">
        <h1>{{ entity.heading }}</h1>
        <div class="description">
            {{ entity.description }}
        </div>
    </div>
{% endblock %}
